div {
	width:1.5in;
	height:1.5in;
	border:1px solid black;
	overflow: hidden;
}


p {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; 
  font-weight: bold;
  font-size:0.8em;
}

#title{
	width:1.5in;
}

#helpBut{
    width:0.3in;
    height:0.3in;
    text-align:top;
}

tr.menuDesc p{
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
	font-size:12pt;
	font-family:sans-serif,Verdana;
}

tr.menuDesc{
	text-align:center;
}

#menuTable{
	width:143px;
	height:110px;
}

tr.buttonMenu td{
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	padding:0px;
	border:none;
}

.optionsButton{
	width:0.45in;
	height:0.45in;
	cursor:pointer;
}





.overlay{
  position: absolute;   
  
  z-index: 999;
}

.mainButton{
	width:0.9in;
	height:1in;
	text-align:bottom;
}
.arrow{
	width:0.15in;
	height:1in;
	cursor:pointer;
}





#mainScreen{
  background-color:#FFF6E5;
}

#gOptions{
	width:0.5in;
	height:0.5in;
	display:none;
}

button{
	width:0.47in;
	height:0.2in;
	background-color:white;
	color:black;
	overflow:hidden;
}
